body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 8px;
}

ul {
    list-style: none;
    /* revisit this later
    padding: 0;
    margin: 0; */
    display: flex;
    gap: 25px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    padding-left: 100px;
    font-size: 24px;
    font-weight: 900;
}


.container1 {
    background-color: aqua;
    display: flex;
    flex: 1; 
    /*need this but need to add flex to other containers first bc. acting weird w/o doing that first */
}

.info {
    /* display: flex; dont need since container is flex */
    /* background-color: red; */
}

.img1 {
    /* display: flex; dont need since parent container is flex */
}


.container2 {
    background-color: blue;
    display: flex;
    flex: 1;
}


.container3 {
    background-color: peru;
    flex: 1;
    text-align: center;
}


.container4 {
    background-color: yellow;
    flex: 1;
    display: flex;
}


.footer {
    background-color: #1F2937;
    color: white;
}