body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}


/*******************************************/
/************* header **********************/
/*******************************************/


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 8px;
}

ul {
    list-style: none;
    /* revisit this later
    padding: 0;
    margin: 0; */
    display: flex;
    gap: 25px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    padding-left: 100px;
    font-size: 24px;
    font-weight: 900;
}


/*******************************************/
/************* Container1 ******************/
/*******************************************/


.container1 {
    background-color: #1F2937;
    display: flex;
    flex: 3; 
    /* ^^^right now this growing in the vertical direction, might need it to grow in the horizontal */
    /*need this but need to add flex to other containers first bc. acting weird w/o doing that first */
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    /* padding-top: 50px; */
}

.section1-title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.text1 {
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 8px;
}

button.signup1 {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-size: 18px;
}

.info {
    /* display: flex; dont need since container is flex */
    background-color: #1F2937;
    /* set a width here, see if that works for making the "awesome go to the next line" */
    max-width: 450px;
}

.img1 {
    background: url(https://www.freepik.com/free-vector/simple-vibing-cat-square-meme_58459053.htm); 
    /* Image provided by: Wepik on Freepik, link --> https://www.freepik.com/free-vector/simple-vibing-cat-square-meme_58459053.html */

}

.contain-fit {
    width: 200px;
    height: 200px;
    object-fit: contain;
}


/*******************************************/
/************* Container2 ******************/
/*******************************************/


.section-after-hero{
    background-color: white;
    text-align: center;
    /* padding: 50px; */
    /* display: flex; */
    flex: 1.5;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info2 {
    max-width: 200px;
}

.section2-header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}

.img2 {
  border-radius: 8px;
  width: 200px;
  height: 200px;
}

.text2 {
    color: #1F2937;
}

/*******************************************/
/************* Container3 ******************/
/*******************************************/


.container3 {
    background-color: #e5e7eb;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 300px;
}

.quote-author {
    text-align: right;
    font-weight: bolder;
}


/*******************************************/
/************* Container4 ******************/
/*******************************************/


.container4 {
    background-color: white;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: royalblue;
    display: flex;
    gap: 50px;
    padding: 20px;
    border-radius: 8px;
}

button.signup4 {
    background: royalblue;
    border: 1px solid white;
    color: white;
    font-size: 18px;
}

.info4 {
    color: white;
}


/*******************************************/
/************* footer **********************/
/*******************************************/


.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}